@model QMProject.Models.ParentClass
@{
    ViewBag.Title = "Add_Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="span10" align="center">
    <label style="font-size:x-large">Add Admin</label>
    <form role="form" method="post" action="/Admin/Add">
        <div class="span6">
            <div class="form-group">
                @Html.Label("User name")
                @Html.TextBoxFor(m => m.usr.user_name, new { name = "user_name" })
            </div>
            <div class="form-group">
                @Html.Label("Password")
                @Html.PasswordFor(m => m.usr.password, new { name = "password" })
            </div>
            <div class="form-group">
                @Html.Label("Retype Password")
                <input type="password" class="form-control" id="pwd1">
            </div>
            <div class="form-group">
                @Html.Label("Name")
                @Html.TextBoxFor(m => m.usr.Name, new { name = "Name" })
            </div>
            <div class="form-group">
                @Html.Label("Email")
                @Html.TextBoxFor(m => m.usr.email, new { type = "email", name = "email" })
            </div>
            <div class="form-group">
                @Html.Label("Cell#")
                @Html.TextBoxFor(m => m.usr.cell, new { type = "tel", name = "cell" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Street")
            @Html.TextBoxFor(m => m.usr.street, new { name = "street" })
            @Html.Label("House")
            @Html.TextBoxFor(m => m.usr.house, new { name = "house" })
            @Html.Label("Village/Town")
            @Html.TextBoxFor(m => m.usr.town, new { name = "town" })
            @Html.Label("City")
            @Html.TextBoxFor(m => m.usr.city, new { name = "city" })
            @Html.Label("State/Province")
            @Html.TextBoxFor(m => m.usr.state, new { name = "state" })
            @Html.Label("Country")
            @Html.TextBoxFor(m => m.usr.country, new { name = "country" })
            <div class="form-control">
                @Html.Label("Upload Profile photo")
                <input type="file" style="margin-left:25px" accept="image/*" />
            </div>
            <input value="upload" type="button" class="btn btn-info" />
        </div>
        <input type="submit" class="btn btn-Info" value="Add" name="Add" />
    </form>
</div>