@model List<QMProject.Models.ParentClass>
@{
    ViewBag.Title = "Search_Result_Medicines";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="span12" align="center">
    <table class="table">
        <tr>
            <td><p style="color: mediumblue">Brand Name</p></td>
            <td><p style="color: mediumblue">Registration#</p></td>
            <td><p style="color: mediumblue">Company</p></td>
            <td><p style="color: mediumblue">Potency</p></td>
            <td><p style="color: mediumblue">Salt</p></td>
            <td><p style="color: mediumblue">Class</P></td>
        </tr>
        @foreach(var s in Model)
        {
        <tr>
                <td><p>@s.med.brand_name</p></td>
                <td><p>@s.med.reg_Id</p></td>
                <td><p>@s.med.company</p></td>
                <td><p>@s.med.potency</p></td>
                <td><p>@s.med.salt_id</p></td>
                <td><p>@s.med.class_id</p></td>
                <td><input type="button" class="btn btn-danger pull-right" id="cart" name="cart" value="Update" /></td>
                <td><input type="button" class="btn btn-danger pull-right" id="cart" name="cart" value="Delete" /></td>
        </tr>
        }
    </table>
    <input type="button" value="Add New" class="btn btn-success" />
</div>